@import 'open-color/open-color.css';
@import '$lib/global-styles/colors.scss';
@import '@sourcegraph/branded/src/global-styles/variables.scss';

@import '@sourcegraph/branded/src/global-styles/functions.scss';
@import '@sourcegraph/branded/src/global-styles/mixins.scss';
@import '@sourcegraph/branded/src/global-styles/reboot.scss';
@import '@sourcegraph/branded/src/global-styles/utilities/text.scss';
@import '@sourcegraph/branded/src/global-styles/utilities/border-radius.scss';

@import '@sourcegraph/branded/src/global-styles/typography.scss';
@import '@sourcegraph/branded/src/global-styles/code.scss';
@import '@sourcegraph/shared/src/global-styles/icons.scss';
@import '@sourcegraph/branded/src/global-styles/utilities.scss';
@import '@sourcegraph/branded/src/global-styles/dropdown.scss';

:root {
    --navbar-height: 2.5rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--body-bg);
    overflow: hidden;
    font-size: 14px;
}

.match-highlight {
    background-color: var(--mark-bg);
}
